divs {
  margin: -1px;
  border: 1px solid green;
}

.product_list {
  margin-bottom: 15px;
  width: 100%;
  min-height: 125px;
  border: 1px solid #0C4D7D;
}

.product_image, .product_image img {
  float: left;
  max-height: 125px;
}

.product_text {
  padding-top: 10px;
  float: right;
  width: 550px;
  text-align: left;
}

#update_image {
  float: left;
  width: 300px;
  text-align: center;
  padding-right: 30px;
}

#update_text {
  float: right;
  width: 300px;
  padding: 0px 25px;
}

.additional_images {
  float: left;
  padding-right: 5px;
}

.category {
  height: 60px;
  margin: 2px auto;
  background: url(../images/category_background.jpg) no-repeat;
  background-position: -250px 0;
}

.category img {
  float: left;
  margin: -15px 0px 0px -6px;
  max-height: 50px;
  max-width: 60px;
}


.category a {
  color: #000;
  display: block;
  padding: 20px 10px;
  width: 200px;
}

.category a:hover {
  color: #FFF;
}

.category:hover {
  background-position: 0px 0;

}

.category .selected, .category .selected a{
  color: #FFF;
  background: #0C4D7D;
}


