@charset "utf-8";
/* CSS Document */

divs {
  margin: -1px;
  border: 1px solid blue;
}

body {
	background:#C2E0F8 url(../images/body_background.jpg) repeat-x;
	padding: 0px;
	margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

h1 {
  font-size: 18px;
  color: #0c4d7d;
  margin: 0px;
  
}

h3, .h3, label {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  color: #0c4d7d;
}

ul {
  list-style: none;
  padding: 0px;
}

#header {
  padding: 10px 0px;
  margin: 0px auto;
	background:#61b5fb url(../images/background.jpg) repeat-x;
}

#header_image {
  width: 1105px;
  margin: 0px auto;
}

.menu {
  background: url(../images/nav-bar.png);
  text-align: center;
  font-size: 18px;
  padding: 13px 0px;
}

.menu a {
  color: #FFF;
  padding: 10px;
}

.menu a:hover {
  color: #000;
}

.button {
  background: #194C10;
  color: #FFF;
  border: 1px solid #242;
  font-size: 12px;
  padding: 2px 4px;
  font-weight: normal;
}

.button:hover {
  color: #000;
}

.button_div {
  text-align: right;
  padding-right: 30px;
}

#admin_menu {
  margin: 0px auto;
  padding: 7px 0px;
  font-size: 14px;
  background: #194C10;
}

#flash_message {
  padding: 7px 0px;
  font-size: 14px;
  background: #FFF;
  color: #194C10;
  text-align: center;
}

#container {
  width: 1005px;
  min-height: 300px;
  margin: 0px auto;
  padding: 0px;
  background: #DDEDF9;
}


#left_column {
  float: left;
  width: 250px;
  min-height: 300px;
  background: #DDEDF9;
  text-align: center;
}

#right_column {
  float: right;
  width: 695px;
  min-height: 300px;
  background: #FFF;
  padding: 30px ;
}

#footer {
  margin-top: 5px;
  font-size: 10px;
  color: #222;
  text-align: center;
}

#footer a {
  color: #0C4d7d;
}

#footer a:hover {
  color: #000;
}

.split_screen_left, .split_screen_right, .full_screen {
  float: left;
  width: 432px;
  min-height: 210px;
  padding: 25px 35px;
  background: #FFF;
}

.split_screen_left {
  border-right: 1px solid #DDD;
  height: 100%;
}

.full_screen {
  width: 935px;
}

.border_top {
  border-top: 12px solid #0c4d7d;
}

.text {
  margin-top: 2px;
  border: 1px solid #0c4d7d;
  font-size: 14px;
  width: 290px;
  background: #DDEDF9;
  padding: 2px;
}

.text_area {
  width: 660px; 
  height: 100px;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}

.short_text {
  width: 150px;
}

.static_page_image {
  padding-left: 100px;
  padding-bottom: 50px;
	
}